@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.header {
  background-color: white;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  top: 0;
  position: sticky;
  animation-name: desaparecer;
  animation-duration: 1.4s; }

a:hover {
  font-weight: bold; }

a {
  text-decoration: none;
  color: #2f2e41;
  transition: all .2s; }

.a_bold {
  font-weight: bold; }

.header h1 a span {
  color: #486975; }

.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flexNav li {
    list-style: none;
    padding: 1%;
    margin: 3%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

/*flex inicio*/
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }

.text_inicio {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f2e41; }
  .text_inicio h2 {
    font-size: 260%; }

.img_inicio {
  grid-area: img; }
  .img_inicio img {
    max-width: 100%; }

.inicio_index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "text img";
  animation-name: desaparecerInicio;
  animation-duration: 1.4s; }

.text_nosotros {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2f2e41; }
  .text_nosotros h2 {
    font-size: 180%; }
  .text_nosotros p {
    text-align: justify;
    padding: 3%; }

.img_nosotros {
  grid-area: img; }
  .img_nosotros img {
    max-width: 100%; }

.inicio_nosotros {
  padding: 2%;
  margin-bottom: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img text";
  align-items: center;
  animation-name: desaparecerInicio;
  animation-duration: 1.4s; }

.inicio_servicios {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas: "h2 img" "cards cards";
  animation-name: desaparecerInicio;
  animation-duration: 1.4s; }
  .inicio_servicios h2 {
    grid-area: h2;
    padding: 2%;
    color: #2f2e41; }
  .inicio_servicios img {
    grid-area: img;
    max-width: 100%;
    margin-right: 15%;
    border-radius: 6rem; }

.cards_servicios {
  padding: 5%;
  grid-area: cards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.img_service {
  grid-area: img; }

.text_service {
  padding: 2%;
  margin: 0% 2% 0% 5%;
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: whitesmoke; }
  .text_service h3 {
    color: #2f2e41;
    font-weight: bold;
    font-size: 140%; }

.text_service_precio {
  font-size: 160%; }

.card_services {
  display: grid;
  margin: 2%;
  padding: 3%;
  background-color: #486975;
  border-radius: 6.5rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "img text"; }

.boton_servicios {
  background-color: #2f2e41;
  padding: 2.5%;
  margin-top: 2%;
  border-radius: 3rem; }
  .boton_servicios a {
    text-align: justify;
    text-decoration: none;
    color: whitesmoke; }

.botonContacto {
  background-color: #486975;
  padding: 15%;
  margin: 10%;
  border-radius: 3rem; }

.boton {
  background-color: #486975;
  padding: 2%;
  margin: 3%;
  border-radius: 3rem; }
  .boton a {
    text-align: justify;
    text-decoration: none;
    color: #2f2e41; }

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.card1, .card2, .card3 {
  text-align: center;
  margin: 3% 10%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .card1 h3, .card2 h3, .card3 h3 {
    color: #2f2e41; }
  .card1 p, .card2 p, .card3 p {
    color: #2f2e41; }

.inicioContacto {
  display: grid;
  grid-gap: 3%;
  padding: 2%;
  margin-bottom: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  grid-template-areas: "contactoimg contactoh2" "cards cards" "iframeMapa textoMapa";
  animation-name: desaparecerInicio;
  animation-duration: 1.4s; }

[class^="fas fa"] {
  font-size: 30px;
  color: #2f2e41; }

[class^="far fa"] {
  font-size: 30px;
  color: #2f2e41; }

.mapa {
  max-width: 100%;
  border-radius: 2.5rem; }

.imgContacto {
  max-width: 100%; }

.contactoH2 {
  grid-area: contactoh2;
  padding: 2%;
  color: #2f2e41; }

.contactoImg {
  grid-area: contactoimg; }

.cards {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.iframeMapa {
  grid-area: iframeMapa;
  padding: 2%;
  overflow: hidden; }

.textoMapa {
  grid-area: textoMapa;
  padding: 2%;
  margin-top: 30px;
  color: #2f2e41; }

.footer {
  width: 100%;
  align-self: flex-end;
  background-color: #486975;
  grid-area: footer;
  padding: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer div li {
  text-align: center;
  list-style: none; }

.footer div li a {
  text-decoration: none;
  color: black; }

@keyframes desaparecer {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }

@keyframes desaparecerInicio {
  0% {
    opacity: 0; }
  40% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

/* Tablet */
@media screen and (max-width: 768px) and (max-width: 1024px) {
  .header {
    grid-area: header;
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .flexNav {
    display: flex;
    justify-content: space-around;
    align-items: center; } }

/* Mobile */
@media screen and (max-width: 767px) {
  .header {
    grid-area: header;
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .flexNav {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .botonContacto {
    background-color: #486975;
    padding: 8%;
    margin: 10%;
    border-radius: 1.5rem; }
  .boton {
    background-color: #486975;
    padding: 3%;
    margin: 3%;
    border-radius: 1.5rem; }
  .divInicio h2 {
    font-size: 180%; }
  .flexNav li {
    list-style: none;
    margin: 1%; }
  .contenedorInicio {
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2%;
    justify-items: center;
    align-items: center;
    grid-template-areas: "div2" "div1"; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .inicioNosotros {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    grid-template-areas: "img" "nosotros"; }
  .inicioServicios {
    display: grid;
    padding: 3%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    align-items: center;
    grid-template-areas: "imgFormateo" "textoFormateo" "imgMantenimiento" "textoMantenimiento" "imgInstalacion" "textoInstalacion" "imgProblemas" "textoProblemas"; }
  .inicioContacto {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .card1, .card2, .card3 {
    text-align: center;
    margin: 3% 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .cards {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0; } }
