.footer{
    width: 100%;
    align-self: flex-end;
    background-color: $color-page;
    padding: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-name: desaparecerInicio;
    animation-duration: 1.4s;
    div{
        li{
            text-align: center;
            list-style: none;
            a{
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}

.text_footer{
    color: $color-text;
}