.footer{
    width: 100%;
    align-self: flex-end;
    background-color: $color-page;
    grid-area: footer;
    padding: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer div li{
    text-align: center;
    list-style: none;
}

.footer div li a{
    text-decoration: none;
    color: black;
}