.header{
    background-color: white;
    padding: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    top: 0;
    position: sticky;
    animation-name: desaparecer;
    animation-duration: 1.4s;
}

a:hover{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: $color-text;
    transition: all .2s;
}

.a_bold{
    font-weight: bold;
}

.header h1 a span{
    color: #486975;
}

.flexNav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    li{
        list-style: none;
        padding: 1%;
        margin: 3%;
    }
}