.text_inicio{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-text;

    h2{
        font-size: 260%;
    }
}

.img_inicio{
    grid-area: img;
    
    img{
        max-width: 100%;
    }
}

.inicio_index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "text img";
    animation-name: desaparecerInicio;
    animation-duration: 1.4s;
}
