.inicioNosotros{
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-template-areas:
    "img nosotros";
    animation-name: desaparecerInicio;
    animation-duration: 1.4s;
}

.divNosotrosTexto{
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divNosotrosTexto h2{
    font-size: 180%;
}

.divNosotrosTexto p{
    text-align: justify;
    padding: 4%;
}

.divNosotrosImg{
    grid-area: img;
}

.imgNosotros{
    max-width: 100%;
}