.text_nosotros{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-text;

    h2{
        font-size: 180%;
    }

    p{
        text-align: justify;
        padding: 3%;
    }
}

.img_nosotros{
    grid-area: img;

    img{
        max-width: 100%;
    }
}

.inicio_nosotros{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img text";
    align-items: center;
    height: 90vh;
    animation-name: desaparecerInicio;
    animation-duration: 1.4s;
}