.inicio_servicios{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "h2 img"
    "cards cards";
    animation-name: desaparecerInicio;
    animation-duration: 1.4s;


    h2{
        grid-area: h2;
        padding: 2%;
        color: $color-text;
    }

    img{
        grid-area: img;
        max-width: 100%;
        margin-right: 15%;
        border-radius: 6rem;
    }
}

.cards_servicios{
    padding: 5%;
    grid-area: cards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_service{
    grid-area: img;
}

.text_service{
    padding: 2%;
    margin: 0% 2% 0% 5%;
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: whitesmoke;

    h3{
        color: $color-text;
        font-weight: bold;
        font-size: 140%;
    }

    p{
        text-align: justify;
    }
}

.text_service_precio{
    font-size: 160%;
}

.card_services{
    display: grid;
    margin: 2%;
    padding: 3%;
    background-color: $color-page;
    border-radius: 6.5rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "img text";
    transition: all 1.2s;
}

.card_services:hover{
    transform: translate3d(0, -20px, 0);
    box-shadow: 2px 2px 30px;
}

.boton_servicios{
    background-color: $color-text;
    padding: 2.5%;
    margin-top: 2%;
    border-radius: 3rem;

    a{
        text-align: justify;
        text-decoration: none;
        color: whitesmoke;
    }
}