<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Movuc</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/dcfc700ab2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <h1><a href="../index.html" class="h1a"><span>M</span>ovuc</a></h1>
            <nav>
                <ul class="flexNav">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="#" class="a_bold botonContacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main class="principal">
            <section class="inicioContacto">
                <div class="contactoH2">
                    <h2>Contacto</h2>
                </div>
                <div class="contactoImg">
                    <img src="../multimedia/contacto.png" alt="personas con logotipos de contacto" class="imgContacto">
                </div>

                <div class="cards">
                    <div class="card1">
                        <i class="fas fa-map-marker-alt"></i>
                        <h3>Dirección</h3>
                        <p>C. Piura 438, Miraflores 15074</p>
                    </div>

                    <div class="card2">
                        <i class="far fa-envelope"></i>
                        <h3>Correo</h3>
                        <p>cris_arredondo26@hotmail.com</p>
                    </div>

                    <div class="card3">
                        <i class="fas fa-phone-alt"></i>
                        <h3>Número</h3>
                        <p>+51992159356</p>
                    </div>
                </div>

                <div class="textoMapa">
                    <h3>¡Encuéntranos!</h3>
                </div>

                <div class="iframeMapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.2363972241328!2d-77.03343217083156!3d-12.115875488231794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8162eff0a25%3A0x3c1f12941146032b!2sC.%20Piura%20438%2C%20Miraflores%2015074!5e0!3m2!1ses!2spe!4v1639964618486!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="mapa"></iframe>
                </div> 
            </section>
        </main>

        <footer class="footer">
            <div class="text_footer">
                &copy;2021 Desarrollado por Cristopher Arredondo
            </div>

            <div>
                <ul class="flexNavFooter">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </footer>   
    </div> 
</body>
</html>