<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Mocuc</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <h1><a href="../index.html"><span>M</span>ovuc</a></h1>
            <nav>
                <ul class="flexNav">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#" class="a_bold">Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contacto.html" class="botonContacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main class="principal">
            <section class="inicio_nosotros">
                    <div class="text_nosotros">
                        <h2>Nosotros</h2>
                        <p>Somos una empresa dedicada al servicio técnico de computadoras, creada especialmente para solucionar tus problemas. Nuestra misión es mantener a nuestros clientes satisfechos con sus dispositivos y entregarles un servicio exclusivo.</p>    
                    </div>

                    <div class="img_nosotros">
                        <img src="../multimedia/Nosotros.png" alt="grupo de personas">    
                    </div>
            </section>
        </main>

        <footer class="footer">
            <div class="text_footer">
                &copy;2021 Desarrollado por Cristopher Arredondo
            </div>

            <div>
                <ul class="flexNavFooter">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </footer>    
    </div>
</body>
</html>