<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Movuc</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <h1><a href="../index.html"><span>M</span>ovuc</a></h1>
            <nav>
                <ul class="flexNav">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="#" class="a_bold">Servicios</a></li>
                    <li><a href="contacto.html" class="botonContacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main class="principal">
            <section class="inicio_servicios">
                <h2>Servicios</h2>   
                <img src="../multimedia/servicios.png" alt="">

                <div class="cards_servicios">
                    <div class="card_services">
                        <div class="img_service">
                            <img src="../multimedia/formateo.png" alt="">
                        </div>
                        
                        <div class="text_service">
                            <h3>Formateo</h3>
                            <p>Reinstalación de sistemas operativos (Windows, Linux, Mac).</p>
                            <p class="text_service_precio">S/80.00</p>
                            <div class="boton_servicios">
                                <a href="#">Más informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="card_services">
                        <div class="img_service">
                            <img src="../multimedia/mantenimiento.png" alt="">
                        </div>
                        
                        <div class="text_service">
                            <h3>Mantenimiento de Computadoras y Laptops</h3>
                            <p>Limpieza profunda del dispositivo, cambio de pasta termica y mantenimiento preventivo a piezas mas propensas a dañarse.</p>
                            <p class="text_service_precio">S/50.00</p>
                            <div class="boton_servicios">
                                <a href="#">Más informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="card_services">
                        <div class="img_service">
                            <img src="../multimedia/instalacion.png" alt="">
                        </div>
        
                        <div class="text_service">
                            <h3>Instalación de hardware y software</h3>
                            <p>Instalacion limpia del software(Windows, Office y programas de su eleccion). Tambien se hace instalacion de tarjetas graficas, RAM, cmabio de procesadores, discos duros, etc.</p>
                            <p class="text_service_precio">S/100.00</p>
                            <div class="boton_servicios">
                                <a href="#">Más informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="card_services">
                        <div class="img_service">
                            <img src="../multimedia/diagnostico.png" alt="" class="imgNosotros">
                        </div>
                        
                        <div class="text_service">
                            <h3>Diagnóstico de problemas</h3>
                            <p>Diagnostico de problemas tales como: pantallazos azules, apagados repentinos, sobrecalentamiento, lag, entre otros.</p>
                            <p class="text_service_precio">S/30.00</p>
                            <div class="boton_servicios">
                                <a href="#">Más informacion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="text_footer">
                &copy;2021 Desarrollado por Cristopher Arredondo
            </div>

            <div>
                <ul class="flexNavFooter">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </footer>    
    </div>
</body>

</html>