<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Movuc</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <h1><a href="/index.html"><span>M</span>ovuc</a></h1>
            <nav>
                <ul class="flexNav">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="#" class="a_bold">Servicios</a></li>
                    <li><a href="contacto.html" class="botonContacto">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main class="principal">
            <section class="inicioServicios">
                <div class="imgFormateo">
                    <img src="../multimedia/formateo.png" alt="" class="imgNosotros">
                </div>

                <div class="textoFormateo">
                    <h3>Formateo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, tenetur!</p>
                    <p>S/00.00</p>
                </div>

                <div class="imgMantenimiento">
                    <img src="../multimedia/mantenimiento.png" alt="" class="imgNosotros">
                </div>
                
                <div class="textoMantenimiento">
                    <h3>Mantenimiento de Computadoras y Laptops</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, tenetur!</p>
                    <p>S/00.00</p>
                </div>
                
                <div class="imgInstalacion">
                    <img src="../multimedia/instalacion.png" alt="" class="imgNosotros">
                </div>

                <div class="textoInstalacion">
                    <h3>Instalación de hardware y software</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, tenetur!</p>
                    <p>S/00.00</p>
                </div>
                
                <div class="imgProblemas">
                    <img src="../multimedia/diagnostico.png" alt="" class="imgNosotros">
                </div>
                
                <div class="textoProblemas">
                    <h3>Diagnóstico de problemas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, tenetur!</p>
                    <p>S/00.00</p>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div>
                &copy;2021 Desarrollado por Cristopher Arredondo
            </div>

            <div class="social">

            </div>

            <div>
                <ul class="flexNavFooter">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="nosotros.html">Nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </footer>    
    </div>
</body>

</html>